<div flex-container="row" style="position: fixed;width: 100%;margin-top: 40px;">
        <div flex-item="6">
            <div class="p+ bgc-green-500">NEWS</div>
        </div>
        <div flex-item="6">
            <div class="p+ bgc-blue-500">ASK</div>
        </div>
</div>
<div flex-container="row" style="height: 100%;">
    <div flex-item="6" style="overflow-x:auto;margin-top: 100px;">
        <div flex-item="1" class="toolbar__right" style="margin-right: 15px;">
            <lx-dropdown position="right" from-top="true">
            <button class="btn btn--m btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                <i class="mdi mdi-dots-vertical"></i>
            </button>
            <lx-dropdown-menu>
            <ul>
                <li ng-repeat="item in orderList track by $index"><a class="dropdown-link" ng-click="getList('news', item)">{{item}}</a></li>
            </ul>
            </lx-dropdown-menu>
            </lx-dropdown>
        </div>
        <div flex-item="1">
            <ng-include src="'posts.html'" ng-repeat="item in homeList.news track by $index"></ng-include>
        </div>
    </div>
    <div flex-item="6" style="overflow-x:auto;margin-top: 100px;">
        <div flex-item="1" class="toolbar__right" style="margin-right: 15px;">
            <lx-dropdown position="right" from-top="true">
            <button class="btn btn--m btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                <i class="mdi mdi-dots-vertical"></i>
            </button>
            <lx-dropdown-menu>
            <ul>
                <li ng-repeat="item in orderList track by $index"><a class="dropdown-link" ng-click="getList('ask', item)">{{item}}</a></li>
            </ul>
            </lx-dropdown-menu>
            </lx-dropdown>
        </div>
        <div flex-item="1">
            <ng-include src="'posts.html'" ng-repeat="item in homeList.ask track by $index"></ng-include>
        </div>
    </div>
</div>