<div style="padding-top: 50px">
	<div flex-container="row" style="width: 100%" class="postsPage">
	<ng-include src="'posts.html'" style="margin: 0px auto;"></ng-include>
</div>

	<div flex-container="row"class="comments">
		<div class="text text-reply">
			Hello World India Thyats the Place to be Nroguht Up
			<div class="info">REPLIED BY VISHAL 2 HOURS AGO</div>
		</div>
	</div>

	<div flex-container="row"class="comments">
		<div class="text">			
			<textarea> Hello World</textarea>
			<button class="btn btn--l btn--black btn--icon" lx-ripple style="float: right;margin-top:-8px;">
            <i class="mdi mdi-reply"></i>
            </button>		
		</div>
	</div>
</div>