<lx-dialog class="dialog dialog--l" id="submitPost" auto-close="false" ng-controller="submissionCtrl">
<div class="dialog__header">
    <div class="toolbar bgc-light-blue-500 pl++">
        <span class="toolbar__label tc-white fs-title">
        Submit
        </span>
        <div class="toolbar__right">
            <button class="btn btn--l btn--white btn--icon" lx-ripple ng-click="dialogClose()">
            <i class="mdi mdi-close"></i>
            </button>
        </div>
    </div>
</div>
<div class="dialog__content">
    <lx-tabs links-tc="light" links-bgc="light-blue-500" indicator="yellow-500" no-divider="true" layout="inline">
    <lx-tab heading="News">
    <div class="mr+++ p++">
        <div flex-item>
        <lx-text-field label="Title">
        <input type="text" ng-model="textFields.title">
        </lx-text-field>
    </div>
    <div flex-item>
        <lx-text-field label="Link">
        <input type="text" ng-model="textFields.link" ng-change="textFields.description = ''">
        </lx-text-field>
    </div>
    <div flex-item>
        <div flex-item>
            <lx-select ng-model="textFields.tags" placeholder="Tags" choices="selectSections" multiple floating-label>
            <lx-select-selected>
            {{ $selected.name }}
            </lx-select-selected>
            <lx-select-choices>
            {{ $choice.name }}
            </lx-select-choices>
            </lx-select>
        </div>
    </div>
    </div>
    </lx-tab>
    <lx-tab heading="Ask">
        <div class="mr+++ p++">
            <div flex-item>
        <lx-text-field label="Title">
        <input type="text" ng-model="textFields.title">
        </lx-text-field>
    </div>
    <div flex-item>
        <lx-text-field label="Description">
        <input type="text" ng-model="textFields.description"  ng-change="textFields.link = ''">
        </lx-text-field>
    </div>
    <div flex-item>
        <div flex-item>
            <lx-select ng-model="textFields.tags" placeholder="Tags" choices="selectSections" multiple floating-label>
            <lx-select-selected>
            {{ $selected.uid }} - {{ $selected.name }}
            </lx-select-selected>
            <lx-select-choices>
            {{ $choice.name }}
            </lx-select-choices>
            </lx-select>
        </div>
    </div>
        </div>
    </lx-tab>
    </lx-tabs>
</div>
<div class="dialog__actions">
    <button class="btn btn--l btn--black btn--icon" lx-ripple ng-click="dialogSave()">
            <i class="mdi mdi-content-save"></i>
            </button>
</div>
</lx-dialog>